# DBOS  and LLM 
ANTHROPIC_API_KEY=sk-...
DATABASE_URL=postgresql://user:password@host/db?sslmode=require

# Templated integration
TEMPLATED_API_KEY=
TEMPLATED_MAIN_TEMPLATE_ID=c27db04d-356e-4745-a2dd-e7226f4debdd
TEMPLATED_API_BASE_URL=https://api.templated.io/v1
